.live-btn,
.live-btn-active {
  padding: 8px 1rem;
  border-radius: 4px;
  background-color: white;
  font-family: "Inter", sans-serif;
  width: 96px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 138);
  color: rgb(0, 0, 138);
}

.live-btn-active,
.live-btn:hover {
  background-color: rgb(0, 0, 138);
  color: white;
}

.live-btn:hover,
.live-btn-active:hover {
  transition: all 0.4s ease;
  cursor: pointer;
}
