.button {
  padding: 8px 1rem;
  border-radius: 4px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.button:hover {
  transition: all 0.4s ease;
  cursor: pointer;
}

.back-btn {
  color: rgb(0, 0, 138);
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 1rem 0.2rem;
}

.back-btn:hover,
.back-btn > i:hover {
  color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);
}

.back-btn > i {
  border: solid rgb(0, 0, 138);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 0.5rem;
}

.filter-btn,
.filter-btn-active {
  min-width: 15%;
  margin-top: 2rem;
  border: 2px solid #f1580c;
  color: #f1580c;
  font-size: 1rem;
  border-radius: 24px;
  margin-right: 1rem;
}

.submit-btn {
  min-width: 25%;
  margin-top: 2rem;
  border: 2px solid #f1580c;
  color: #f1580c;
  font-weight: bold;
  font-size: 1rem;
}

.submit-btn:hover,
.filter-btn:hover {
  color: white;
  background-color: #f1580c;
}

.manage-dlt-btn {
  min-width: 25%;
  margin-top: 2rem;
  border: 2px solid red;
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.manage-dlt-btn:hover {
  color: white;
  background-color: red;
}

.filter-btn-active {
  color: white;
  background-color: #f1580c;
}

.clear-btn {
  min-width: 25%;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.clear-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logout-btn {
  width: 100%;
  border: 2px solid #f1580c;
  color: white;
  background-color: #f1580c;
}

.logout-btn:hover {
  border: 2px solid #facf39;
  background-color: #facf39;
  color: black;
}

.register-btn,
.register-btn-active {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #f1580c;
  color: #f1580c;
}

.register-btn:hover {
  background-color: #f1580c;
  color: white;
}

.register-btn-active {
  background-color: #f1580c;
  color: white;
}

.safe-btn {
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 138);
  color: rgb(0, 0, 138);
}

.delete-btn {
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid red;
  color: red;
  margin-top: 1rem;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

.follow-btn,
.follow-btn-active {
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 138);
  color: rgb(0, 0, 138);
}

.safe-btn:hover,
.follow-btn:hover,
.follow-btn-active {
  background-color: rgb(0, 0, 138);
  color: white;
}

.follow-btn-active:hover {
  background-color: white;
  color: rgb(0, 0, 138);
}

.join-btn {
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #f1580c;
  color: #f1580c;
}

.join-btn:hover {
  background-color: #f1580c;
  color: white;
}
