.img-container {
  position: relative;
  border-radius: 4px;
}

.img-container img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.info-panel {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  color: white;
  padding: 2rem 3.2rem;
  border-radius: 0 0 4px 4px;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
  text-align: left;
}

.tags-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  color: black;
}

.tags-container > div {
  border: 1px solid #facf39;
  border-radius: 4px;
  background-color: #facf39;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.8rem;
}

.description {
  font-size: 1.2rem;
  font-style: italic;
}

.host-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.host-container > img {
  border-radius: 50%;
  width: 2.4rem;
  height: auto;
}

.username {
  font-weight: bold;
  margin: 0 0.8rem;
}

.host-tag {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border: 2px solid #f1580c;
  border-radius: 4px;
  color: #f1580c;
}

.description {
  font-size: 1rem;
}
