.card-container {
  min-width: 256px;
  max-width: 256px;
  border: 1px solid #4f0300;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.15);
  background-color: #4f0300;
  margin-right: 2rem;
}

.link {
  text-decoration: none;
}

.card-container:last-child {
  margin-right: 0;
}

.status-bar {
  height: 16px;
  max-width: 254px;
  padding: 1.2rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
}

.status-bar img {
  height: 0.8rem;
  margin-right: 0.4rem;
}

.status-bar span {
  font-size: 12px;
}

.status-bar p {
  padding: 4px 8px;
  font-size: 12px;
  margin-top: 8px;
}

.status-ended {
  border: 1px solid white;
  border-radius: 4px;
}

.status-upcoming {
  border: 1px solid #f79a6b;
  border-radius: 4px;
  color: #f79a6b;
}

.primary-panel {
  height: 12rem;
  max-width: 254px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 0 1.2rem;
  color: #fbdb6b;
  text-align: left;
}

.primary-panel > p {
  width: 18rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-wrap: wrap;
  text-overflow: ellipsis;
  text-align: left;
}

.start-date {
  font-size: 1rem;
  margin: 0.4rem 0 1rem 0;
  max-width: 100%;
  text-wrap: wrap;
}

.participants-count {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.secondary-panel {
  height: 7.2rem;
  max-width: 254px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  background-color: white;
  color: black;
  border-radius: 0 0 4px 4px;
}

.host-profile {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.username {
  font-weight: bold;
  margin: 0 0.8rem;
}

.host-img {
  border-radius: 50%;
  width: 16%;
}

.host-tag {
  padding: 0.2rem 1rem;
  background-color: white;
  border: 2px solid #f1580c;
  border-radius: 4px;
  color: #f1580c;
}

.tags-container {
  display: flex;
  align-items: center;
  padding-top: 0.2rem;
}

.tags-container > div {
  border: 1px solid #facf39;
  border-radius: 4px;
  background-color: #facf39;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 0.8rem;
}
